$white-color: #ffffff;
$black-color: #000000;
$bg-header-color: #44413b;
$bg-about-color: #d9ccc1;
$bg-skills-color: #ad9a8e;
$bg-slider-color: #d9ccc1;
$bg-desc-color: #ad9a8e;
$bg-social-color: #d9ccc1;
$bg-footer-color: #d9ccc1;
$text-color: #44413b;
$active-color: #ebc686;
$link-color: #fd9334;

$fontfamily: "Roboto", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$minwidth: 320px;
$mw: 1140;
$md1: $mw + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
