.about {
  padding-top: 100px;
  padding-bottom: 46px;
  background-color: $bg-about-color;

  @media (max-width: 659.98px) {
    padding-top: 80px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 659.98px) {
      flex-wrap: wrap;
    }
  }

  &__col {
    &:first-child {
      width: 40%;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 659.98px) {
        width: 100%;
        justify-content: center;
        margin-bottom: 36px;
      }
    }

    &:last-child {
      width: 60%;
      padding-left: 40px;

      @media (max-width: 659.98px) {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  &__img {
    width: 320px;
    height: 480px;
  }

  &__title {
    margin-bottom: 12px;
    text-align: left;

    @media (max-width: 659.98px) {
      text-align: center;
      margin-bottom: 14px;
    }
  }

  &__text {
    @media (max-width: 659.98px) {
      font-size: 18px;
    }
  }
}
