.about {
  padding-top: 100px;
  padding-bottom: 46px;
  background-color: $bg-about-color;

  @media (max-width: 659.98px) {
    padding-top: 80px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 839.98px) {
      justify-content: center;
    }

    @media (max-width: 659.98px) {
      flex-wrap: wrap;
    }
  }

  &__col {
    &:first-child {
      flex: 0 0 320px;
      display: flex;
      justify-content: flex-start;

      @media (max-width: 839.98px) {
        justify-content: center;
      }

      @media (max-width: 659.98px) {
        width: 100%;
        margin-bottom: 36px;
      }

      @media (max-width: 351.98px) {
        flex: 0 0 290px;
      }
    }

    &:last-child {
      width: 60%;
      padding-left: 40px;

      @media (max-width: 659.98px) {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  &__title {
    margin-bottom: 12px;
    text-align: left;
    position: relative;

    & svg {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-28px);
    }

    & span {
      margin-left: 64px;

      @media (max-width: 659.98px) {
        margin-left: 0;
      }
    }

    @media (max-width: 659.98px) {
      text-align: center;
      margin-bottom: 14px;
    }
  }

  &__text {
    @media (max-width: 659.98px) {
      font-size: 18px;
      letter-spacing: 0.2;
      line-height: 20px;
    }
  }
}
