.descr {
  padding-top: 26px;
  padding-bottom: 46px;
  background-color: $bg-desc-color;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 569.98px) {
      flex-wrap: wrap;
    }

    & span {
      margin-left: 20px;
    }
  }
}
