.descr {
  padding-top: 26px;
  padding-bottom: 46px;
  background-color: $bg-desc-color;

  &__title {
    margin-bottom: 36px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__project {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 38px;
    padding-bottom: 28px;
    border-bottom: 1px solid $text-color;

    &:nth-child(odd) .descr__col:first-child {
      order: 0;

      @media (max-width: 569.98px) {
        margin-bottom: 24px;
      }
    }

    &:nth-child(even) .descr__col:first-child {
      order: 1;

      @media (max-width: 569.98px) {
        order: 0;
        margin-bottom: 24px;
      }
    }

    @media (max-width: 569.98px) {
      flex-direction: column;
    }
  }

  &__col:first-child {
    flex: 0 0 255px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 569.98px) {
      justify-content: center;
    }
  }

  &__col:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 70%;
    padding-left: 24px;

    @media (max-width: $md3+px) {
      padding-left: 0;
    }
  }

  &__item-link {
  }

  &__item-img {
    width: 255px;
    height: 310px;
  }

  &__top {
  }

  &__info {
    margin-bottom: 8px;
    padding-left: 12px;
    font-weight: 700;
  }

  &__list {
    @include list-reset;
    padding-left: 34px;
    margin-bottom: 18px;
  }

  &__item {
    margin-bottom: 2px;

    @media (max-width: $md3+px) {
      font-size: 14px;
    }
  }

  &__bottom {
  }

  &__text {
    padding-left: 12px;
  }

  &__code-link {
    text-decoration: underline;
    color: darken($text-color, 10);

    &:hover,
    &:focus {
      transition: all 0.2s ease 0s;
      outline: none;
      color: $white-color;
      text-decoration: none;
    }
  }
}
