.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: $bg-header-color;
  z-index: 3;

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;

    @media (max-width: $md3+px) {
      justify-content: center;
    }
  }

  &__burger {
    display: none;

    @media (max-width: $md3+px) {
      display: block;
      width: 30px;
      height: 20px;
      z-index: 4;
      background-color: transparent;
      position: absolute;
      top: 24px;
      left: 15px;
      border: none;
      padding: 0;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;
      }

      & span {
        background-color: $link-color;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: "";
        background-color: $link-color;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color: $white-color;
      }

      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: $white-color;
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 79px;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
  }

  &.active::before {
    @media (max-width: $md3+px) {
      transition: all 0.3s ease 0s;
      background-color: $bg-header-color;
      z-index: 4;
    }
  }
}
