.main-footer {
  background-color: $bg-footer-color;
  padding-top: 20px;
  padding-bottom: 20px;

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 559.98px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__logo {
    @media (max-width: $md3+px) {
      position: relative;
      z-index: 1;
    }
  }

  &__info {
    display: inline-flex;
    justify-content: flex-start;

    @media (max-width: 559.98px) {
      margin-top: 20px;
    }
  }

  &__link {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-self: center;
    justify-content: center;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover svg,
    &:focus svg {
      fill: rgba($white-color, 0.9);
      transition: all 0.5s ease 0s;
      outline: none;
    }

    &:active svg {
      transition: all 0.1s ease 0s;
      fill: rgba($white-color, 0.9);
      transform: scale(0.9);
    }

    &:nth-child(1) {
      &:hover svg,
      &:focus svg {
        fill: #ad9a8e;
      }
    }

    @media (max-width: 559.98px) {
      justify-content: space-between;
    }
  }
}
