.main-header {
  position: relative;
  border-bottom: 1px solid #d4d4d4;

  &__burger {
    display: none;

    @media (max-width: $md3+px) {
      display: block;
      width: 30px;
      height: 20px;
      z-index: 3;
      background-color: transparent;
      position: absolute;
      top: 27px;
      left: 15px;
      border: none;
      padding: 0;
      cursor: pointer;

      & span {
        background-color: $active-color;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: "";
        background-color: $active-color;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color: $white-color;
      }

      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: $white-color;
      }
    }
  }
}
