.work-slider {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg-slider-color;

  &__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 569.98px) {
      flex-wrap: wrap;
    }

    & span {
      margin-left: 20px;
    }
  }

  &__wrapper {
    padding-left: 56px;
    padding-right: 56px;

    @media (max-width: 839.98px) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  &__item {
    margin-left: 10px;
    margin-right: 10px;
  }
}
