.work-slider {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg-slider-color;

  &__title {
    text-align: center;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 569.98px) {
      flex-wrap: wrap;
    }

    & span {
      margin-left: 20px;
    }
  }
}
